sample-mule-project/src/main/mule/vc-sales-orders-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:avio-core="http://www.mulesoft.org/schema/mule/avio-core"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core 
	http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
	http://www.mulesoft.org/schema/mule/http 
	http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
	http://www.mulesoft.org/schema/mule/mule-apikit 
	http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
	http://www.mulesoft.org/schema/mule/tls 
	http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
	http://www.mulesoft.org/schema/mule/ee/core 
	http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/avio-core http://www.mulesoft.org/schema/mule/avio-core/current/mule-avio-core.xsd">

	<flow name="vc-sales-orders-api-main" doc:id="360ec8d1-c5e9-4f56-99da-6877ba87ff4c" >
		<http:listener doc:name="Listener" doc:id="8aeaffe6-3892-4377-a2c0-609416062b35" config-ref="http-listener-config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.statusCode default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
		</http:listener>
		<ee:transform doc:name="headerAttributes, currentFlow, initialAttributes" doc:id="eac05f00-c94e-4506-93ed-c486bb35bdd2" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="currentFlow" ><![CDATA["ff-music-factory-api-main::apiKitRouter"]]></ee:set-variable>
				<ee:set-variable variableName="headerAttributes" ><![CDATA[%dw 2.0
output application/json
---
{
	correlationId: message.attributes.headers.correlation_id,
	clientId: message.attributes.headers.client_id,
	clientSecret: message.attributes.headers.client_secret
}]]></ee:set-variable>
				<ee:set-variable variableName="initialAttributes" ><![CDATA[%dw 2.0
output application/json
---
message.attributes]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<avio-core:custom-logger doc:name="START resource and path name" doc:id="b7c826ac-55c3-4540-8df7-c07089840bf6" config-ref="avio-core-config" logLocationInfo="true" message="#['START::vc-sales-orders-api-main::resource and path name: ' ++ write(vars.initialAttributes.method ++ vars.initialAttributes.requestPath,'application/json')]"/>
		<apikit:router doc:name="APIkit Router" doc:id="e474b7e2-127a-4371-af30-b98e39d0bc3c" config-ref="vc-sales-orders-api-config"/>
		<avio-core:custom-logger doc:name="END resource and path name" doc:id="bf13bfba-1136-40b1-81ef-1c18923209a1" config-ref="avio-core-config" message="#['END::vc-sales-orders-api-main::resource and path name: ' ++ write(vars.initialAttributes.method ++ vars.initialAttributes.requestPath,'application/json')]" logLocationInfo="true"/>
	</flow>
</mule>
