sample-mule-project/src/main/mule/salesOrders/sales-orders-impl-testing-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:avio-core="http://www.mulesoft.org/schema/mule/avio-core"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/avio-core http://www.mulesoft.org/schema/mule/avio-core/current/mule-avio-core.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/current/mule-sqs.xsd">
	<flow name="sales-orders-impl-listening-error-queue" doc:id="805bd64f-08b8-4d20-b812-fc04f38f484c" >
		<vm:listener doc:name="Listener SalesOrdersErrorQueue" doc:id="758a162d-2e61-4a3c-b990-e6e26b0ae034" config-ref="SalesOrdersQueue_Config" queueName="SalesOrdersErrorQueue"/>
		<avio-core:custom-logger doc:name="INFO salesOrders" doc:id="dec5937b-4843-46a7-8466-56590ccc9917" config-ref="avio-core-config" message="#['sales-orders-impl-listening-error-queue::SALES ORDER: ' ++ write(payload, &quot;application/json&quot;)]"/>
	</flow>
	<flow name="sales-orders-impl-testing-receive-messages-from-reporting-system" doc:id="441afc85-f8a8-412a-9048-06198ea76f8e" >
		<sqs:receivemessages doc:name="Receive messages" doc:id="0861e14f-ef80-426d-8a86-212ee670783d" config-ref="amazon-sqs-configuration"/>
		<avio-core:custom-logger doc:name="INFO messages from Reporting System" doc:id="edaa54ff-fcb3-44ba-8a6b-f321e8c8b6ae" config-ref="avio-core-config" message="#['sales-orders-impl-testing-receive-messages-from-reporting-system::payload: ' ++ write(payload,&quot;application/json&quot;)]"/>
	</flow>
</mule>
